body {
    /*letter-spacing: 0.5px;*/
    text-align: center;
    background: rgb(249, 249, 250);
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
